@model CreateFamilyViewModel
@{
    ViewData["Title"] = "Create Family";
    ViewData.AddActivePage(ManageNavPages.CreateFamily);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        @*Create Family*@
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FamilyName"></label>
                <input asp-for="FamilyName" class="form-control" />
                <span asp-validation-for="FamilyName" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>*@

        </form>
        <div>
            @using (Html.BeginForm("UploadFile", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <span>Select File:</span>
                @Html.TextBoxFor(m => m.Image, new { type = "file" })
                <br />
                @Html.ValidationMessageFor(m => m.Image, "", new { @class = "error" })
                <hr />
                <input type="submit" value="Upload" />
                <br />
                <span style="color:green">@Html.Raw(ViewBag.Message)</span>
            }
        </div>
        <button type="submit" class="btn btn-default">Save Family</button>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
