@model CreateFamilyViewModel
@{
    ViewData["Title"] = "Create Family";
    ViewData.AddActivePage(ManageNavPages.CreateFamily);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        @*Create Family*@
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FamilyName"></label>
                <input asp-for="FamilyName" class="form-control" />
                <span asp-validation-for="FamilyName" class="text-danger"></span>
            </div>

            @if (Model.ImageModel != null)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.ImageModel.ImageData)" width="80" height="80" />
                <br />
                <button type="submit" class="btn btn-default">Save Family</button>
            }
        </form>
        @if (Model.ImageModel == null)
        {
            <div>
                @using (Html.BeginForm("UploadFile", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <span>Select File:</span>
                    @Html.TextBoxFor(m => m.Image, new { type = "file" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Image, "", new { @class = "error" })
                    <input type="submit" value="Upload" class="btn-primary"/>
                    <br />
                    <span style="color:green">@Html.Raw(ViewBag.Message)</span>
                }
            </div>
        }
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
