@inject UserManager<ApplicationUser> UserManager
@model FamiliesManagementViewModel
@{
    ViewData["Title"] = "Manage Families";
    ViewData.AddActivePage(ManageNavPages.FamiliesManagement);
    Model.ApplicationUser = UserManager.GetUserAsync(User).Result;
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <table>
            <tr>
                @*Add or Remove Family Members If User is Admin*@
                @if (Model.ApplicationUser.IsFamilyAdmin && Model.FamiliesAdminOf.Count > 0)
                {
                    <form method="post">
                        <label>You are admin of those families</label>
                        <div asp-validation-summary="All" class="text-danger"></div>

                        @foreach (var family in Model.FamiliesAdminOf)
                        {
                            <table>
                                <tr>
                                    <td>
                                        @if (family.MainImage != null)
                                        {
                                            <img class="img-responsiveWithMargin" 
                                                 src="data:image;base64,@System.Convert.ToBase64String(family.MainImage.ImageData)" 
                                                 width="80" height="80" />
                                        }
                                    </td>
                                    <td>
                                        <ul>
                                            <li>@family.FamilyName</li>
                                            <li>@family.Guid</li>
                                        </ul>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Refuse", "RefuseFamilyAdmin", "Manage", new { Guid = family.Guid })
                                        @*<a asp-area="" asp-controller="Manage" asp-action="LeaveFamily" asp-route-id="@family.Guid">Leave</a>*@
                                    </td>
                                </tr>
                            </table>
                        }
                        <script>
                            function addOrRemoveGuid(guid) {
                                var tmpGuid = guid;

                            }
                        </script>
                    </form>
                }
            </tr>
            <tr>
                @if (Model.FamiliesMemberOf.Count > 0)
                {
                    @*Join Or Leave Family*@
                    <form method="post">
                        <label>You are member of those families</label>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div>
                            @foreach (var family in Model.FamiliesMemberOf)
                            {
                                <table>
                                    <tr>
                                        <td>
                                            @if (family.MainImage != null)
                                            {
                                                <img class="img-responsiveWithMargin"
                                                     src="data:image;base64,@System.Convert.ToBase64String(family.MainImage.ImageData)" width="80" height="80" />
                                            }
                                        </td>
                                        <td>
                                            <ul>
                                                <li>@family.FamilyName</li>
                                                <li>@family.Guid</li>
                                            </ul>
                                        </td>
                                        <td>
                                            @Html.ActionLink("Leave", "LeaveFamily", "Manage", new { Guid = family.Guid })
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </form>
                }
            </tr>
        </table>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
