@inject UserManager<ApplicationUser> UserManager
@model RefuseFamilyAdminViewModel
@{
    ViewData["Title"] = "Manage Families";
    ViewData.AddActivePage(ManageNavPages.FamiliesManagement);
    Model.ApplicationUser = UserManager.GetUserAsync(User).Result;
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        @if (Model.ApplicationUser.IsFamilyAdmin && Model.FamilyMembers.Count > 0)
        {
            @foreach (var member in Model.FamilyMembers)
            {
                <table>
                    <tr>
                        <td>
                            <ul>
                                <li>
                                    @member.Email
                                </li>
                                <li>
                                    @member.SecurityStamp
                                </li>
                            </ul>
                        </td>
                        <td>
                            <span style="margin-left:10px">
                                @Html.ActionLink("Propose", "ProposeNewFamilyAdmin", "Manage", new { userSecurityStamp = member.SecurityStamp, guid = Model.FamilyRefuseGuid })
                            </span>
                        </td>
                    </tr>
                </table>
            }

        }
    </div>
</div>
@*за да откаже определен администратор да бъде админ - то той трябва да предложи алтернативен

    dropdown или списък с изобрацжение с членовете на семейството
    бутон за MakeUserAdminOfTheFamily*@
