@model ImagesViewModel
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Family Images";
}

<h2>@ViewData["Title"]</h2>
@Html.Partial("_StatusMessage", Model.StatusMessage)

@using (Html.BeginForm("UploadImages", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <select asp-for="FamilyGuid"
                asp-items="@(new SelectList(Model.FamiliesMemberOf,"Guid","FamilyName"))">
            <option>Please select family</option>
        </select>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserImages, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UserImages, "", new { @type = "file", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.UserImages, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success">
                @ViewBag.UploadStatus
            </div>
        </div>
    </div>
}